.container {
  background-color: #fff;
  height: 100%;
  width: 100%;
  color: #000;
}

.info {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.labs__container {
  background-color: rgba(232, 232, 232, 0.41);
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.labs__labName {
  width: 70%;
  text-align: center;
  padding: 4rem 0 4rem 0;
  font-size: 2.5rem;
  font-weight: 400;
}

.labs__icons {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-around;
  padding-right: 2rem;
}

.labs__infoIcon {
  align-self: end;
  justify-content: end;
}

.data {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.data__btn {
  grid-column: span 3;
  justify-self: center;
  background-color: #defbd2;
}
