.container {
  padding: 0rem 1rem;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 2rem 0rem;
}

.header__btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.header__btn:hover {
  transform: scale(1.2);
}

.header__icon {
  font-size: 1.5rem;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: 0.2px solid #4a4a4a;
  text-align: center;
  width: 100%;
}

.calendar__header {
  background-color: rgba(232, 232, 232, 0.41);
  padding: 0.6rem;
  border: 0.2px solid #4a4a4a;
}

.calendar__hour {
  background-color: rgba(232, 232, 232, 0.41);
  padding: 0.6rem;
  border: 0.2px solid #4a4a4a;
}

.calendar__cell {
  border: 0.2px solid #4a4a4a;
}

.reserved {
  background-color: rgb(67, 138, 67);
}
