.container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.title {
  text-align: center;
  color: #000;
  padding-bottom: 2rem;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 1rem;
}

.btn {
  width: 100%;
  background-color: #a81d32;
  color: #fff;
}

.linkText {
  color: #000;
  font-size: 0.8rem;
}

.link {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}