.container {
  background-color: #f9fafb;
  height: 100vh;
}

.containerCarrosel {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.carrosel {
  background-color: rebeccapurple;
}

.btn {
  color: white;
  background-color: #4caf50;
  border-radius: 0.375rem;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.btn:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.noReservationsCard {
  width: 35%;
  height: 40%;
  min-width: 300px;
  min-height: 300px;
  margin: auto;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
}

.noReservationsCardTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

.noReservationsCardBody {
  font-size: 1rem;
  color: #666;
  padding-top: 0.75rem;
}

.noReservationsText {
  font-size: 1rem;
  color: #555;
}

.viewButton {
  background-color: #a81d32;
  color: white;
  font-weight: bold;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.viewButton:hover {
  background-color: #8f192b;
  transform: scale(1.05);
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cardBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  gap: 0.5rem;
}

.labName {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
}

.schedule {
  font-size: 0.9rem;
  color: #d1d5db;
}

.priority {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.iconInfo {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.iconInfo:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .noReservationsCard {
    width: 90%;
    height: auto;
    padding: 1rem;
  }

  .cardFooter {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
}
