.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url("../../assets/auth/bg.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.container::before {
  content: "";
  filter: blur(2px);
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.layout {
  height: 70%;
  width: 70%;
  display: flex;
  border-radius: 10px;
  box-shadow: 4px 3px 15px 4px #000000;
  background-color: #fff;
  z-index: 1;
  overflow: hidden;
}

.left {
  width: 50%;
  height: 100%;
}

.right {
  width: 50%;
  height: 100%;
}